---
import Layout from "../layouts/Layout.astro";
import BentoLayout from "../layouts/BentoLayout.astro";
import Pill from "../components/Pill.astro";
import Hero from "../components/Hero.astro";
---

<Layout>
    <BentoLayout>
        <Hero />
        <div class="grid grid-cols-2 gap-4 text-center">
            <Pill
                text={"Check portfolio"}
                link={"https://mariodev.xyz"}
                emoji={"âœ¨"}
            />
            <Pill
                text={"interview call"}
                link={"https://cal.com/mariodev/hireme"}
                emoji={"ðŸ¤™"}
            />
            <Pill
                text={"Send offer"}
                link={"mailto:hireme@mariodev.xyz"}
                emoji={"âœ‰ï¸"}
            />
            <div confetti-button class="justify-center">
                <Pill text={"Celebrate!"} link={"#"} emoji={"ðŸŽ‰"} />
            </div>
        </div>
    </BentoLayout>
</Layout>

<script>
    import confetti from "canvas-confetti";
    const Pills = document.querySelectorAll("[confetti-button]");
    console.log(Pills);

    Pills.forEach((Pill) => {
        Pill.addEventListener("click", () =>
            confetti({
                origin: { x: 0.5, y: 0.6 },
                spread: 360,
            }),
        );
    });
</script>
