---
import Layout from "../layouts/Layout.astro";
import BentoLayout from "../layouts/BentoLayout.astro";
import Pill from "../components/Pill.astro";
import Hero from "../components/Hero.astro";
---

<Layout>
    <BentoLayout>
        <Hero />
        <div class="grid grid-cols-2 gap-4 text-center">
            <Pill text={"Visit my portfolio"} link={"https://mariodev.xyz"} />
            <Pill text={"Send an email"} link={"mailto:hireme@mariodev.xyz"} />
            <div class="col-span-2 justify-center">
                <Pill text={"Hire me"} link={"https://google.com"} />
            </div>
        </div>
    </BentoLayout>
</Layout>
