<div class="border-green-400 border-y absolute bottom-0 left-0">
    <div class="text-green-400">
        <div class="mx-auto overflow-x-hidden py-2 relative">
            <div
                class="flex items-center animate-marquee font-black font-display gap-4 relative tracking-widest uppercase whitespace-nowrap"
            >
                available for hire <span class="hidden lg:inline">✺</span
                >available for hire <span class="hidden lg:inline">✺</span>
                 available for hire <span class="hidden lg:inline">✺</span>
                 available for hire <span class="hidden lg:inline">✺</span
                >available for hire <span class="hidden lg:inline">✺</span>
                 available for hire <span class="hidden lg:inline">✺</span>
                 available for hire <span class="hidden lg:inline">✺</span
                >available for hire <span class="hidden lg:inline">✺</span>
                 available for hire <span class="hidden lg:inline">✺</span>
                 available for hire available for hire <span
                    class="hidden lg:inline">✺</span
                >available for hire <span class="hidden lg:inline">✺</span>
                 available for hire <span class="hidden lg:inline">✺</span>
                 available for hire <span class="hidden lg:inline">✺</span
                >available for hire <span class="hidden lg:inline">✺</span>
                 available for hire <span class="hidden lg:inline">✺</span>
                 available for hire <span class="hidden lg:inline">✺</span
                >available for hire <span class="hidden lg:inline">✺</span>
                 available for hire <span class="hidden lg:inline">✺</span>
                 available for hire
            </div>
        </div>
    </div>
</div>
