---
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>How to hire me 🙂</title>
    </head>
    <body>
        <slot />
    </body>
    <Footer />
</html>

<style is:global>
    @font-face {
        font-family: "JetBrains Mono";
        src: url("/fonts/JetBrainsMono-Regular.ttf") format("truetype");
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: "snes";
        src: url("/fonts/snes.ttf") format("truetype");
        font-weight: normal;
        font-style: normal;
    }
    :root {
        --accent: 136, 58, 234;
        --accent-light: 224, 204, 250;
        --accent-dark: 49, 10, 101;
        --accent-gradient: linear-gradient(
            45deg,
            rgb(var(--accent)),
            rgb(var(--accent-light)) 30%,
            white 60%
        );
        font-family: "JetBrains Mono", monospace;
        overflow-x: hidden;
    }
    html {
        background: #13151a;
        background-size: 224px;
        color: white;
    }
</style>
